<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8">
<title>parallax</title>
<link href="{{url_for('static',filename='style/style.css')}}" rel="stylesheet" type="text/css" media="screen" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{url_for('static',filename='js/parallax.min.js')}}"></script>
</head>
<body style="background-color : black;">
  <div class = "container" > <center><h1>Celebrity Diets</h1> </center><p>
The WWE's Shawn Michaels revamped his lifestyle and made an improbable and incredible return to the ring after a devastating back injury. Now, at 41, the native Texan is stronger than ever with a solid training program, a no-frills diet      </p>
      <div class="parallax" data-z-index="1" data-parallax="scroll" data-image-src="{{url_for('static',filename='photo-9.jpg')}}"><h1 class="info">Shawn Michael's Diet<h1>

      </div>
<h3>Michaels' Body Slam</h3>
<p>
  When Michaels first got into wrestling in 1985, he was given some very prophetic advice. "One (wrestler) who never worked out looked at me and said, 'Shawn, the hardest work you're ever going to do in this business is to work out. In 10 years, this is going to be a body business.' He was right. The man has still never lifted a weight, but he knew what he was talking about. I've hung around Kevin Nash, Triple H, Scott Hall -- they all have great builds. I've never known close to all there is to know about bodybuilding and training; I've sort of watched and picked it up as I've gone.
<h3>Back Injury</h3>
<p>
"As I look back on it now, that was the greatest thing that ever happened to me," says Shawn Michaels of the 1998 back injury that almost ended one of the most storied careers in pro wrestling history. A shocking statement, to be sure. After all, at the time, Michaels was flying high as the World Champion -- The Heartbreak Kid was the ultimate showman, with charisma, style and talent that earned him millions of fans worldwide. From the age of 19 and his first match at a local event (he lost), Michaels became a sensation, first in his home state of Texas, then in the American Wrestling Alliance, and finally in his big leap to the pinnacle of the sport, the WWE (then known as the World Wrestling Federation)      </p>

  <div class="parallax" data-z-index="1" data-parallax="scroll" data-image-src="{{url_for('static',filename='photo-7.jpg')}}">

  </div>
<h3>The Secret Weapon</h3>
<p>
 Now leaner than he's ever been -- the 6'1", 41-year-old wrestled as heavy as 220 but now fluctuates anywhere between 190 and 205 pounds -- Michaels credits his hybrid cardio and resistance training workouts, a clean diet of 4-5 meals per day, and a hearty supplement regimen that features everything from Vitamin C and whey protein to omega 3's and thermogenics for his resurgence.</p>
<h3>AndroTest</h3>
<p>
At the center of that supplement plan is a product that he says has made an incredible difference -- ProSource's AndroTest. "I don't usually rave about a lot of products," he says, but just like his close friend and fellow wrestler Kevin Nash, who saw his testosterone levels almost double over a four-month period, Michaels saw and felt an immediate difference when taking a regular daily dose of AndroTest.</p>
<div class="parallax" data-z-index="1" data-parallax="scroll" data-image-src="{{url_for('static',filename='photo-8.jpg')}}">

</div>
<h3>Legacy</h3>
<p>
With four more years on his WWE contract, Michaels foresees his retirement on the horizon. But in the meantime, he's going to continue having fun in the ring and adding to his remarkable legacy. "At the risk of sounding like a holy roller, when I came back, I felt like I was supposed to tell my story to the world through my work," he muses. "</p>
<h3>Lesson Learned</h3>
  <p>
Michaels has been sure to keep AndroTest in his daily nutrition arsenal, which also features a high-protein (30-50 grams per meal), moderate carb attack. "My supplementing is just far and away one of the biggest improvements I've made in the last couple of years," he says. "It's consistency. When I get up in the morning, I'll have my coffee, a thermogenic, and my AndroTest.
</p>

</div>
</body>
</html>
