<!DOCTYPE html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Hotels</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link href="{{url_for('static',filename='style/main.css')}}" rel="stylesheet" type="text/css" media="screen" />-->
    <link href="{{url_for('static',filename='style/animate.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" media="screen,projection">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
    <script>
        new WOW().init();
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

</head>
<!-- <body background = "{{url_for('static',filename='hotel12.jpg')}}">
  <div class ="supreme">
      <div class ="wow animated fadeInDown" data-wow-delay = "1s" >
          <img src="{{url_for('static',filename='hotels-6.png')}}" width= 1200 height= 500 border=0 alt="">
      </div>
      <div class = "col-2">
      <div>
       <div>
          <audio controls autoplay ><source src = "{{url_for('static',filename='credits.mp3')}}" type = "audio/mp3" ></audio>
       </div>
     </form> -->

<body>

    <div class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="container">
                <div class="navbar-wrapper">
                    <a href="#" class="brand-logo">Inn.io</a>

                </div>
            </div>
        </nav>
    </div>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="http://notgoaway.com/wp-content/uploads/2017/07/Luxury-Wallpaper-6C.jpg" alt="">
                <div class="caption center-align text-lighten-3 hide-on-small-only">
                    <h3>Have a Luxurious Life</h3>
                    <h5 class="dark white-text">We're that "cool" people and somehow makes a living of booking hotels for people, while drinking a $38
                        bottle of artisanal cold-brew</h5>
                    <a href="https://web.telegram.org/#/im?p=@MegBh_bot" class="btn btn-medium waves-effect waves-light">
                        <button class="btn btn-medium waves-effect waves-light">Chat</button>
                    </a>
                </div>
            </li>
            <li>
                <img src="https://wallpaper-house.com/data/out/9/wallpaper2you_305529.jpg" alt="">
                <div class="caption left-align text-lighten-3 hide-on-small-only">
                    <h3>You probably haven't heard of us</h3>

                    <h5 class="dark  white-text darken-1">Thanks for trusting us.</h5>
                    <a href="https://web.telegram.org/#/im?p=@MegBh_bot" class="btn btn-medium waves-effect waves-light">
                        <button class="btn btn-medium waves-effect waves-light">Chat</button>
                    </a>

                </div>
            </li>
            <li>
                <img src="http://wpnature.com/wp-content/uploads/2016/08/beach-maldives-night-pier-lights-ocean-evening-holiday-paradise-vacation-sea-summer-tropic-nature-hut-dock-tropical-lamps-wallpaper-island.jpg"
                    alt="">
                <div class="caption right-align text-lighten-3 hide-on-small-only">
                    <h3>You will be amazed by our works</h3>
                    <a href="https://web.telegram.org/#/im?p=@rns_hotelbot" class="btn btn-medium waves-effect waves-light">
                        <button class="btn btn-medium waves-effect waves-light">Chat</button>
                    </a>
                </div>
            </li>
            <li>
                <img src="http://bwncy.com/g/2/ba/balinese-interior-design-ideas-bali-harga-desain-per-m2-decorating-concept-at-night-experience-the-legendary-hospitality-spa-village-resort-tembok-where-glorious-surroundings-and.jpg"
                    alt="">
                <div class="caption center-align text-lighten-3 hide-on-small-only">
                    <h3>Keep supporting us</h3>
                       <a href="https://web.telegram.org/#/im?p=@MegBh_bot" class="btn btn-medium waves-effect waves-light">
                        <button class="btn btn-medium waves-effect waves-light">Chat</button>
                    </a>
                </div>
            </li>
            <li>
                <img src="https://images.pexels.com/photos/34650/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940.jpg" alt="">
                <div class="caption left-align text-lighten-3 hide-on-small-only">
                    <h3>I Hope you loved our work</h3>
                    <a href="https://web.telegram.org/#/im?p=@MegBh_bot" class="btn btn-medium waves-effect waves-light">
                        <button class="btn btn-medium waves-effect waves-light">Chat</button>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <section class="section1 white center section-icons black-text">

        <div class="row">
            <div class="col s12 m3">
                <div class="card-panel grey darken-3">
                    <i class="material-icons large teal-text">room</i>
                    <p class="white-text">Rooms</p>
                    <a class="btn btn-medium waves-effect waves-light" href="/rooms/">
                        <button class="btn btn-medium waves-effect waves-light">Rooms</button>
                    </a>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card-panel grey darken-3">
                    <i class="material-icons large teal-text">group</i>
                    <p class="white-text">Guests</p>
                    <a class="btn btn-medium waves-effect waves-light" href="/guests/">
                        <button class="btn btn-medium waves-effect waves-light">Guests</button>
                    </a>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card-panel grey darken-3">
                    <i class="material-icons large teal-text">person</i>
                    <p class="white-text">Employees</p>
                    <a class="btn btn-medium waves-effect waves-light" href="/employees/">
                        <button class="btn btn-medium waves-effect waves-light">Employees</button>
                    </a>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card-panel  grey darken-3">
                    <i class="material-icons large teal-text">book</i>
                    <p class="white-text">Booking</p>
                    <a class="btn btn-medium waves-effect waves-light" href="/booking/">
                        <button class="btn btn-medium waves-effect waves-light">Booking</button>
                    </a>
                </div>
            </div>
            <!-- <div class="col s12 m3">
                <div class="card-panel grey-darken-3">
                    <i class="material-icons">chat</i>
                    <p class="white-text">Telegram</p>
                    <a href="https://web.telegram.org/#/im?p=@rns_hotelbot" class="btn btn-medium waves-effect waves-light">
                        <button class="btn btn-medium waves-effect waves-light">Chat</button>
                    </a>
                </div>
            </div> -->

        </div>
        </div>

    </section>



    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js "></script>
    <script>
        $(document).ready(function () {

            $('.slider').slider({
                indicators: false,
                height: 600,
                transition: 800,
                interval: 3000
            })
        });

    </script>
</body>

</html>
